.centered {
    align-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    margin: 0 auto;
    position: relative;
}

.error {
    color: red;
  }

#box{
    background-color:rgb(187, 163, 235); 
    width:40%; 
    height:50%; 
    margin-top: 100px;
    margin-left: 30%; 
    margin-right:30%; 
    border-radius: 25px;
}

#catimg {
    float:right;
}

.title {
    font-size: medium;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.bigtitle {
    font-size: x-large;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


#input{
    width: 25%;
}

#left{
float:left;
align-items: left;
align-content: left;
color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
overflow: hidden;
}

.sidebar {
    margin-top: 77px;
    height: 100%; 
    width: 25%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color:lightcyan; 
    overflow-x: hidden; 
    padding-top: 20px;
  }

  #textfield{
    position:absolute;
    bottom:0;
    right:0;
    float:"right";
    margin: 40px;
  }

  #cat {
    padding:0;
    margin-left: 0;
  }

  #abc {
    width:32%;
    height: 35%;
    opacity:.90;
    top:0;
    left:0;
    display:none;
    align-items: center;
    position:fixed;
    background-color:#302b38;
    overflow:auto;
    color:white;
    }

div#popupContact {
    position:absolute;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,sans-serif;
    align-content: center;
    }

.formbox {
    height:auto; 
    align-items: center;
    margin-top: 100px;
    margin-left: 30%; 
    margin-right:30%; 
    border-radius: 25px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn1 {
    margin-top: 0px;
    float:right;
    top: 0px;
    right:0px;
    color: white;
    background-color: #302b38;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}